.wrapper{
   width:600px;
   background:#eee;
   margin:0 auto 0 auto;
}
.heading{
   height:100px;
   background:blue;
   padding: 20px;
   text-align: center;
   
}
.navigation{
    height:50px;
	background:#ddd;
}
.content{
    min-height:400px;
	background:lightblue;
	width:400px;
	float:left;
}
.sidebar{
   min-height:400px;
   width:200px;
   float:right;
   background:purple;   
}
.footer{
 clear:both;
 background:black;
 text-align: center;
 color:white;
 padding:10px;
 min-height:400px;
 
}
